<br />
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <h5>Ürün Ara</h5>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="Aramak istediğiniz ürünü giriniz..." />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-success">
  Aranan ürün: {{ filterText }}
</div>
<br />
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Ürün Adı</th>
      <th>Kategori</th>
      <th>Fiyat</th>
      <th>Kdv'li Fiyat</th>
      <th>Stok Adedi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe: filterText">
      <td>{{ product.productId }}</td>
      <td>{{ product.productName | uppercase }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.unitPrice | currency }}</td>
      <td>{{ product.unitPrice | vatAdded: 18 | currency }}</td>
      <td>{{ product.unitsInStock }}</td>
      <td>
        <button (click)="addToCart(product)" type="button" class="btn btn-success">
          Add
        </button>
      </td>
    </tr>
  </tbody>
</table>